[submodule "transact/TP/session_8"]
	path = transact/TP/session_8
	url = git@github.com:PureLeafGreen/session_8.git
[submodule "transact/TP/TP1_transact_h23"]
	path = transact/TP/TP1_transact_h23
	url = git@github.com:PureLeafGreen/TP1_transact_h23.git
[submodule "mobile/420-456-al-h23-exercices-PureLeafGreen"]
	path = mobile/420-456-al-h23-exercices-PureLeafGreen
	url = git@github.com:420-andrelaurendeau/420-456-al-h23-exercices-PureLeafGreen.git
