[submodule "transact/TP/session_8"]
	path = transact/TP/session_8
	url = git@github.com:PureLeafGreen/session_8.git
[submodule "transact/TP/TP1_transact_h23"]
	path = transact/TP/TP1_transact_h23
	url = git@github.com:PureLeafGreen/TP1_transact_h23.git
[submodule "mobile/420-456-al-h23-exercices-PureLeafGreen"]
	path = mobile/420-456-al-h23-exercices-PureLeafGreen
	url = git@github.com:420-andrelaurendeau/420-456-al-h23-exercices-PureLeafGreen.git
[submodule "mobile/420-456-23-gr2-quiz"]
	path = mobile/420-456-23-gr2-quiz
	url = git@github.com:420-andrelaurendeau/420-456-23-gr2-quiz.git
[submodule "transact/TP/TP2_transact_h23"]
	path = transact/TP/TP2_transact_h23
	url = git@github.com:PureLeafGreen/TP2_transact_h23.git
[submodule "transact/TP/tp2h23-PureLeafGreen"]
	path = transact/TP/tp2h23-PureLeafGreen
	url = git@github.com:cegep-Andre-Laurendeau1/tp2h23-PureLeafGreen.git
[submodule "mobile/420-456-AL-23"]
	path = mobile/420-456-AL-23
	url = git@github.com:420-andrelaurendeau/420-456-AL-23.git
[submodule "mobile/420-456-al-h23-minitp-2-PureLeafGreen"]
	path = mobile/420-456-al-h23-minitp-2-PureLeafGreen
	url = git@github.com:420-andrelaurendeau/420-456-al-h23-minitp-2-PureLeafGreen.git
[submodule "mobile/420-456-al-h23-ex-intra-PureLeafGreen"]
	path = mobile/420-456-al-h23-ex-intra-PureLeafGreen
	url = git@github.com:420-andrelaurendeau/420-456-al-h23-ex-intra-PureLeafGreen.git
[submodule "transact/TP/tp3h23-PureLeafGreen"]
	path = transact/TP/tp3h23-PureLeafGreen
	url = git@github.com:cegep-Andre-Laurendeau1/tp3h23-PureLeafGreen.git
[submodule "mobile/420-456-al-h23-tp-intra-PureLeafGreen"]
	path = mobile/420-456-al-h23-tp-intra-PureLeafGreen
	url = git@github.com:420-andrelaurendeau/420-456-al-h23-tp-intra-PureLeafGreen.git
[submodule "transact/intrah23-PureLeafGreen"]
	path = transact/intrah23-PureLeafGreen
	url = git@github.com:cegep-Andre-Laurendeau1/intrah23-PureLeafGreen.git
[submodule "mobile/420-456-al-h23-minitp-3-PureLeafGreen"]
	path = mobile/420-456-al-h23-minitp-3-PureLeafGreen
	url = git@github.com:420-andrelaurendeau/420-456-al-h23-minitp-3-PureLeafGreen.git
[submodule "mobile/420-456-AL23-exercices"]
	path = mobile/420-456-AL23-exercices
	url = git@github.com:420-andrelaurendeau/420-456-AL23-exercices.git
[submodule "mobile/420-456-al-h23-minitp-4-PureLeafGreen"]
	path = mobile/420-456-al-h23-minitp-4-PureLeafGreen
	url = git@github.com:420-andrelaurendeau/420-456-al-h23-minitp-4-PureLeafGreen.git
[submodule "transact/TP/tp4-h23-PureLeafGreen"]
	path = transact/TP/tp4-h23-PureLeafGreen
	url = git@github.com:cegep-Andre-Laurendeau1/tp4-h23-PureLeafGreen.git
[submodule "transact/semaine_10/javascriptdemo"]
	path = transact/semaine_10/javascriptdemo
	url = git@github.com:zeprof/javascriptdemo.git
[submodule "mobile/420-456-al-h23-minitp-5-PureLeafGreen"]
	path = mobile/420-456-al-h23-minitp-5-PureLeafGreen
	url = git@github.com:420-andrelaurendeau/420-456-al-h23-minitp-5-PureLeafGreen.git
