<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708440783116-ci0a4eem7a8k5pm258hsp4uaskc35i5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708440783116-ci0a4eem7a8k5pm258hsp4uaskc35i5g</string>
	<key>API_KEY</key>
	<string>AIzaSyAIBmmYGTiLckJa4rwQzVTRvG67kVA0aVY</string>
	<key>GCM_SENDER_ID</key>
	<string>708440783116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatal</string>
	<key>PROJECT_ID</key>
	<string>chatalgr2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatalgr2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708440783116:ios:b282173c866731d3aaf129</string>
</dict>
</plist>